    body {
      background-color: #fd03033b;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .question {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .heart-img {
      width: 100px; 
      height: auto;
      border-radius: 20px;
      mix-blend-mode: color-burn;
      
    }

    .options {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      padding: 10px 20px;
      margin: 0 10px;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      background-color: #f60404;
      border-radius: 10px;
    }

    #noBtn:hover {
      order: -1;
    }
    .couple-img {
      display: flex;
      justify-content: left ;
      align-items: left;
    }